openapi: 3.0.3

info:
  title: Messages dispatcher
  version: 1.2.4-SNAPSHOT
  description: Service which acts as dispatcher for messages to end-users through 3rd-party application
  contact:
    name: PagoPA S.p.A.
    email: cstar@pagopa.it

servers:
  - description: Development Test
    url: https://api-emd.dev.cstar.pagopa.it/emd/message-core
    x-internal: true
  - description: User Acceptance Test
    url: https://api-emd.uat.cstar.pagopa.it/emd/message-core
    x-internal: true
  - description: Prod
    url: https://api-emd.cstar.pagopa.it/emd/message-core
    x-internal: false

tags:
  - name: submit
    description: Related to 'submit' operations

paths:
  /sendMessage:
    parameters:
      - $ref: '#/components/parameters/RequestId'

    post:
      operationId: submitMessage
      description: Submit a message
      security:
        - oAuth2: [ ]
      tags: [ submit ]
      requestBody:
        $ref: '#/components/requestBodies/SendMessage'
      responses:
        "200":
          #description: Accepted
          $ref: '#/components/responses/SendMessageResponse'
        "202":
          #description: No channels enabled
          $ref: '#/components/responses/SendMessageResponse'
        "400":
          #description: Bad request
          $ref: '#/components/responses/Error'
        "401":
          #description: Access token is missing or invalid
          $ref: '#/components/responses/Error'
        "403":
          #description: Forbidden
          $ref: '#/components/responses/Error'
        "406":
          #description: Not acceptable. Did you require application/json?
          $ref: '#/components/responses/Error'
        "415":
          #description: Unsupported media type. Did you provide application/json?
          $ref: '#/components/responses/Error'
        "429":
          #description: Too many requests
          $ref: '#/components/responses/Error'
        "500":
          #description: Server error
          $ref: '#/components/responses/Error'
        default:
          description: Unexpected error

components:
  schemas:
    AccessControlAllowOrigin:
      description: Indicates whether the response can be shared with requesting code from the given origin
      type: string
      pattern: "^[ -~]{1,2048}$"
      minLength: 1
      maxLength: 2048

    Error:
      description: Error details
      type: object
      additionalProperties: false
      properties:
        code:
          $ref: '#/components/schemas/ErrorCode'
        description:
          $ref: '#/components/schemas/ErrorDescription'
      required:
        - code
        - description
      example:
        code: "001000001"
        description: "Generic error"

    ErrorCode:
      description: Error code
      type: string
      pattern: "^[A-F0-9]{9}$"
      minLength: 9
      maxLength: 9
      example: "001000001"

    ErrorDescription:
      description: Error description
      type: string
      pattern: "^[ -~]{1,256}$"
      minLength: 1
      maxLength: 256
      example: "Unexpected error from server"

    Errors:
      description: List of errors
      type: object
      additionalProperties: false
      properties:
        errors:
          type: array
          minItems: 1
          maxItems: 32
          items:
            $ref: '#/components/schemas/Error'
      required:
        - errors
      example:
        errors:
          - code: "00000000A"
            description: "Generic error"
          - code: "001000001"
            description: "Unexpected error from server"

    Outcome:
      description: Outcome of submit operation
      type: string
      enum:
        - OK
        - NO_CHANNELS_ENABLED
      example: "OK"

    RateLimitLimit:
      description: The number of allowed requests in the current period
      type: integer
      format: int32
      minimum: 1
      maximum: 240

    RateLimitReset:
      description: The number of seconds left in the current period
      type: integer
      format: int32
      minimum: 1
      maximum: 60

    RetryAfter:
      description: The number of seconds to wait before allowing a follow-up request
      type: integer
      format: int32
      minimum: 1
      maximum: 240

    SendMessageRequest:
      type: object
      properties:
        messageId:
          description: Unique ID of the message.
          type: string
          minLength: 1
          maxLength: 100
        recipientId:
          description: ID of the recipient (Fiscal Code).
          type: string
          minLength: 1
          maxLength: 100
        triggerDateTime:
          description: When (date and time) the subject who originated the message requested to send it (ISO 8601).
          type: string
          format: date-time
        senderDescription:
          description: Description of the subject who originated the message. Supports UTF-8.
          type: string
          minLength: 1
          maxLength: 250
        messageUrl:
          description: URL to retrieve the original message.
          type: string
          format: uri
          minLength: 1
          maxLength: 2048
        originId:
          description: ID of the original message.
          type: string
          minLength: 1
          maxLength: 100
        title:
          description: Header of the message. Supports UTF-8.
          type: string
          minLength: 1
          maxLength: 250
        content:
          description: |
            Message content in Markdown format, dynamic based on workflowType (ANALOG/DIGITAL).

            - ANALOG: includes deadline for accessing notification to avoid postal delivery
            - DIGITAL: standard message without deadline, includes legal delivery information
          type: string
          minLength: 1
          maxLength: 100000
        associatedPayment:
          description: Associated Payment flag.
          type: boolean
        analogSchedulingDate:
          description: |
            Expiry date for the 5-day deadline (ISO 8601).
            Required only when workflowType is ANALOG.
          type: string
          format: date-time
        workflowType:
          description: Identifies the notification type (ANALOG or DIGITAL).
          type: string
          enum:
            - ANALOG
            - DIGITAL
        channel:
          description: Channel source.
          type: string
          enum:
            - SEND
      required:
        - messageId
        - recipientId
        - title
        - triggerDateTime
        - senderDescription
        - messageUrl
        - originId
        - content
        - workflowType
      example:
        messageId: "8a32fa8a-5036-4b39-8f2e-47d3a6d23f9e"
        recipientId: "RSSMRA85T10A562S"
        triggerDateTime: "2024-06-21T12:34:56.000Z"
        senderDescription: "Comune di Pontecagnano"
        messageUrl: "http://wwww.google.it"
        originId: "XRUZ-GZAJ-ZUEJ-202407-W-1"
        title: "Nuovo messaggio!"
        content: "Ciao,
                hai ricevuto una notifica SEND, cioè una comunicazione a valore legale emessa da un’amministrazione.

                Per leggerla e conoscere tutti i dettagli, accedi al sito web di SEND direttamente da questo messaggio entro il 2024-06-21 alle 12:34 eviterai una raccomandata cartacea e i relativi costi."
        analogSchedulingDate: "2024-06-26T12:34:56.000Z"
        workflowType: "ANALOG"
        associatedPayment: true
        channel: SEND

    UUID:
      description: UUID
      type: string
      pattern: "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
      minLength: 36
      maxLength: 36
      example: "d0d654e6-97da-4848-b568-99fedccb642b"

  requestBodies:
    SendMessage:
      description: Request to send a message
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SendMessageRequest'

  parameters:
    RequestId:
      name: RequestId
      in: header
      description: Request ID that will be logged by the service
      required: true
      schema:
        $ref: '#/components/schemas/UUID'

  responses:
    Error:
      description: Error response
      headers:
        Access-Control-Allow-Origin:
          description: Indicates whether the response can be shared with requesting code from the given origin
          required: false
          schema:
            $ref: '#/components/schemas/AccessControlAllowOrigin'
        RateLimit-Limit:
          description: The number of allowed requests in the current period
          required: false
          schema:
            $ref: '#/components/schemas/RateLimitLimit'
        RateLimit-Reset:
          description: The number of seconds left in the current period
          required: false
          schema:
            $ref: '#/components/schemas/RateLimitReset'
        Retry-After:
          description: The number of seconds to wait before allowing a follow-up request
          required: false
          schema:
            $ref: '#/components/schemas/RetryAfter'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'

    SendMessageResponse:
      description: Response to send message request 200 OK or 202 NO_CHANNELS_ENABLED
      headers:
        Access-Control-Allow-Origin:
          description: Indicates whether the response can be shared with requesting code from the given origin
          required: false
          schema:
            $ref: '#/components/schemas/AccessControlAllowOrigin'
        RateLimit-Limit:
          description: The number of allowed requests in the current period
          required: false
          schema:
            $ref: '#/components/schemas/RateLimitLimit'
        RateLimit-Reset:
          description: The number of seconds left in the current period
          required: false
          schema:
            $ref: '#/components/schemas/RateLimitReset'
        Retry-After:
          description: The number of seconds to wait before allowing a follow-up request
          required: false
          schema:
            $ref: '#/components/schemas/RetryAfter'
      content:
        application/json:
          schema:
            type: object
            properties:
              outcome:
                $ref: '#/components/schemas/Outcome'

  # ============================================================================
  # Security schemes.
  # ============================================================================
  securitySchemes:
    oAuth2:
      description: |
        A bearer token in the format of a JWS and conforms to the specifications
        included in RFC8725.
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: /token
          refreshUrl: /token
          scopes: {}