# only manual
trigger: none
pr: none

parameters:
  - name: 'DEV'
    displayName: 'Run on DEV environment'
    type: boolean
    default: True
    values:
      - False
      - True
  # - name: 'UAT'
  #   displayName: 'Run on UAT environment'
  #   type: boolean
  #   default: True
  #   values:
  #     - False
  #     - True
  # - name: 'PROD'
  #   displayName: 'Run on PROD environment'
  #   type: boolean
  #   default: True
  #   values:
  #     - False
  #     - True

variables:
  TIME_OUT: 10

pool:
  vmImage: 'ubuntu-20.04'

resources:
  repositories:
    - repository: terraform
      type: github
      name: pagopa/azure-pipeline-templates
      ref: refs/tags/v2.4.0
      endpoint: 'io-azure-devops-github-ro'

stages:
  - stage: DEV
    dependsOn: []
    condition: and(succeeded(), eq(${{parameters.DEV}}, true))
    pool:
      name: cstar-dev-linux
    jobs:
      #
      # tae_common
      #
      - job: tf_plan_tae_common
        timeoutInMinutes: $[variables.TIME_OUT]
        steps:
          - checkout: self
          # 1. Install terraform
          - template: templates/terraform-setup/template.yaml@terraform
          # 2. Run terraform plan
          - template: templates/terraform-plan/template.yaml@terraform
            parameters:
              ENVIRONMENT: "dev"
              WORKINGDIR: 'src/domains/tae-common'
              AZURE_SERVICE_CONNECTION_NAME: DEV-CSTAR-SERVICE-CONN
          # 3. Run terraform apply
          - template: templates/terraform-apply/template.yaml@terraform
            parameters:
              ENVIRONMENT: "dev"
              WORKINGDIR: 'src/domains/tae-common'
              AZURE_SERVICE_CONNECTION_NAME: DEV-CSTAR-SERVICE-CONN
      #
      # tae_app
      #
      - job: tf_plan_tae_app
        timeoutInMinutes: $[variables.TIME_OUT]
        steps:
          - checkout: self
          # 1. Install terraform and terragrunt
          - template: templates/terraform-setup/template.yaml@terraform
          # 2. Run terraform plan
          - template: templates/terraform-plan/template.yaml@terraform
            parameters:
              ENVIRONMENT: "dev"
              WORKINGDIR: 'src/domains/tae-app'
              AZURE_SERVICE_CONNECTION_NAME: DEV-CSTAR-SERVICE-CONN
          # 3. Run terraform apply
          - template: templates/terraform-apply/template.yaml@terraform
            parameters:
              ENVIRONMENT: "dev"
              WORKINGDIR: 'src/domains/tae-app'
              AZURE_SERVICE_CONNECTION_NAME: DEV-CSTAR-SERVICE-CONN

  # - stage: UAT
  #   dependsOn: []
  #   condition: and(succeeded(), eq(${{parameters.UAT}}, true))
  #   pool:
  #     name: cstar-uat-linux
  #   jobs:
  #     - job: tf_install
  #       steps:
  #         # 1. Install terraform and terragrunt
  #         - template: templates/terraform-setup/template.yaml@terraform
  #     - job: tf_plan
  #       dependsOn: tf_install
  #       timeoutInMinutes: $[variables.TIME_OUT]
  #       steps:
  #         - checkout: self
  #         # 2. Run terragrunt plan
  #         - template: templates/terraform-plan/template.yaml@terraform
  #           parameters:
  #             SUBSCRIPTION: UAT-CSTAR-SERVICE-CONN
  #             ENVIRONMENT: uat

  # - stage: PROD
  #   dependsOn: []
  #   condition: and(succeeded(), eq(${{parameters.PROD}}, true))
  #   pool:
  #     name: cstar-prod-linux
  #   jobs:
  #     - job: tf_install
  #       steps:
  #         # 1. Install terraform and terragrunt
  #         - template: templates/terraform-setup/template.yaml@terraform
  #     - job: tf_plan
  #       dependsOn: tf_install
  #       timeoutInMinutes: $[variables.TIME_OUT]
  #       steps:
  #         - checkout: self
  #         # 2. Run terragrunt plan
  #         - template: templates/terraform-plan/template.yaml@terraform
  #           parameters:
  #             SUBSCRIPTION: PROD-CSTAR-SERVICE-CONN
  #             ENVIRONMENT: prod
