name: Static Analysis

on:
  push:
    branches-ignore:
      - main

jobs:
  static_analysis:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: init_terraform_folders
        env:
          FOLDERS: src src/k8s src/aks-platform src/psql src/domains/idpay src/domains/idpay-common
        run: |
          TAG=$(cat .terraform-version)
          for f in $FOLDERS; do
            pushd "$(pwd)/${f}"
              sed -i -e 's/  backend "azurerm" {}//g' 99_main.tf # use local backend
              docker run -v $(pwd):/tmp -w /tmp hashicorp/terraform:$TAG init
            popd
          done

      # - name: init_src
      #   run: |
      #     TAG=$(cat .terraform-version)
      #     cd src
      #     sed -i -e 's/  backend "azurerm" {}//g' main.tf # use local backend
      #     docker run -v $(pwd):/tmp -w /tmp hashicorp/terraform:$TAG init

      # - name: init_src_k8s
      #   run: |
      #     TAG=$(cat .terraform-version)
      #     cd src/k8s
      #     sed -i -e 's/  backend "azurerm" {}//g' main.tf # use local backend
      #     docker run -v $(pwd):/tmp -w /tmp hashicorp/terraform:$TAG init

      # - name: init_src_aks_platform
      #   run: |
      #     TAG=$(cat .terraform-version)
      #     cd src/aks-platform
      #     sed -i -e 's/  backend "azurerm" {}//g' 99_main.tf # use local backend
      #     docker run -v $(pwd):/tmp -w /tmp hashicorp/terraform:$TAG init

      # - name: init_src_psql
      #   run: |
      #     TAG=$(cat .terraform-version)
      #     cd src/psql
      #     sed -i -e 's/  backend "azurerm" {}//g' main.tf # use local backend
      #     docker run -v $(pwd):/tmp -w /tmp hashicorp/terraform:$TAG init

      # - name: run_test
      #   run: |
      #     TAG=v1.71.0
      #     docker run -v $(pwd):/lint -w /lint ghcr.io/antonbabenko/pre-commit-terraform:$TAG run -a
